.form-wrap {
  //background-image: url("../../../public/static/image/bg.png");

  color: #ffffff;
  background-color:rgba(16,23,47, .2);
}


.form-control, .form-control:focus, .form-control:active {
  border: none;
  color: #ffffff;
  border-bottom: 1px solid #616983;
  outline: none;
  background-color: inherit;
  border-radius: 0;
}

.form-control:focus {

}

.form-control-select option {
  color: #616983;
}